@page "/download"
@using global::Azure.Storage.Blobs
@using global::Azure.Storage.Blobs.Models
@inject HttpClient http

<PageTitle>Download - Azure File Exchange</PageTitle>

<section>
    <p>
        Download your files by inserting your code below.
    </p>
</section>

<section class="download-input">
	<input type="text" @bind-value=Code/>
	<button	class="btn btn-primary" @onclick="LoadFiles">Load files</button>
</section>

<section>
	@foreach (var blob in blobs)
	{
		<div>
			<div>
				@blob.Name
			</div>
			<div>
				@AutoFileSize(blob.Properties.ContentLength)
			</div>
			<div>
				<a href="@GetFileLink(blob.Name)">Download</a>
			</div>
		</div>
	}
</section>

