
<div class="file">
	<div class="name">@Name</div>
	<div class="progress">
	  <span style="width: @Progress%">@Progress%</span>
	</div>
	<div class="state">
		@switch (State)
		{
			case UploadState.NotStarted:
				<i class="gg-play-pause" style="color:gray;"></i>
				break;
			case UploadState.InProgrogress:
				<i class="gg-play-button" style="color:green;"></i>
				break;
			case UploadState.Succeeded:
				<i class="gg-check" style="color:green;"></i>
				break;
			case UploadState.Failed:
				<i class="gg-danger" style="color:red;"></i>
				break;
		}
	</div>
</div>
