
<div class="file">
	<div class="name">@Name</div>
	<div class="progress">
	  <span style="width: @Progress%">@Progress%</span>
	</div>
	<div class="state">
		@switch (State)
		{
			case UploadState.NotStarted:
				<i class="gg-play-pause"></i>
				break;
			case UploadState.InProgrogress:
				<i class="gg-play-button"></i>
				break;
			case UploadState.Succeeded:
				<i class="gg-check"></i>
				break;
			case UploadState.Failed:
				<i class="gg-danger"></i>
				break;
		}
	</div>
</div>
