@use "variables";

@mixin glass-pane($color: variables.$backgroundcolor) {
    background: rgba($color, 0.2);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba($color, 0.5);
}