@use '../abstracts/variables';
@use '../abstracts/mixins';

form {
    width: 100%;

    label[for=upload]{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10em;
        margin-top: 1em;
        cursor: pointer;

        @include mixins.glass-pane;

        span{
            opacity: 0.6;
        }
    }

    input[type=file] {
        display: none;
    }
}

section{
    display: flex;
    flex-flow: column;
    gap: 0.5em;

    div.file{
        @include mixins.glass-pane();
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;
        line-height: 2em;
        padding: 0 1em 0 3em;

        div.name{
            font-size: 0.8em;
        }

        div.progress{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            > span{
                display: block;
                text-align: left;
                white-space: nowrap;
                pointer-events: none;
                font-size: 0.8em;
                text-indent: 1em;
                height: 100%;
                background: rgba(variables.$accentcolor-light, 0.2);
            }
        }

        div.state{
            display: flex;
            align-items: center;
        }
    }
}
