@use '../abstracts/variables';
@use '../abstracts/mixins';

main.upload{
section.upload-result {
    @include mixins.glass-pane;
    padding: 0.5em;

    p{
        margin: 0.5em;
        text-shadow: variables.$text-shadow;

    }

    button{
        display: inline;
        margin: 0.5em;
        --ggs: 0.8;
        opacity: 0.6;

        &:active{
            background-color: variables.$accentcolor-light;
        }

        &:hover{
            opacity: 1;
        }
    }
}


section.upload {
    position: relative;
    width: 100%;

    label[for=upload]{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10em;
        margin-top: 1em;

        @include mixins.glass-pane;

        transition: background 250ms, border-color 250ms ;

        span{
            opacity: 0.6;
        }

        &.drag-target{
            background-color: rgba(variables.$accentcolor-light, 0.2);
            border-color: rgba(variables.$accentcolor-light, 0.5);
        }
    }

    input[type=file] {
        position: absolute;
        font-size: 1em;
        opacity: 0;
        width: 100%;
        height: 10em;
        top: 1em;
        cursor: pointer;

        // fix for the not needed button inside the input field
        &::-webkit-file-upload-button{
            display: none;
            pointer-events: none;
        }
    }
}

section{
    display: flex;
    flex-flow: column;
    gap: 0.5em;

    div.file{
        @include mixins.glass-pane();
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;
        line-height: 2em;
        padding: 0 1em 0 3em;

        div.name{
            font-size: 0.8em;
        }

        div.progress{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            > span{
                display: block;
                text-align: left;
                white-space: nowrap;
                pointer-events: none;
                font-size: 0.8em;
                text-indent: 1em;
                height: 100%;
                background: rgba(variables.$accentcolor-light, 0.2);
            }
        }

        div.state{
            display: flex;
            align-items: center;

        }
    }
}
}