@use '../abstracts/variables';

/* splash */

#app {

    header nav span{
        color: var(--foregroundcolor);
        text-decoration: none;
        text-shadow: variables.$text-shadow;
        font-weight: 400;
        font-size: 1.5em;
        margin: auto 1em;
        filter: variables.$filter-glow;
    }
}

/* End splash */
