@use '../abstracts/variables';
@use '../abstracts/mixins';

button {
    width: 100%;
    margin-top: 1em;
    @include mixins.glass-pane(variables.$accentcolor-light);
    color: var(--foregroundcolor-dark);
    font-size: 1.1em;
    font-weight: 400;
    text-shadow: variables.$text-shadow;
    line-height: 2em;
    outline: none;
    cursor: pointer;

    transition: background 250ms, opacity 250ms ;

    &:hover{
        background: rgba(variables.$accentcolor-light, 0.4);
    }

    &:disabled{
        opacity: 0.3;
        cursor: no-drop;
     }
}